@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("simplegrid.css");
/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
label,
textarea,
p {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.flex-grid {
  display: flex;
}

.mt-0 {
  margin-top: 0;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

ul.no-bullets {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.no-bullets > li {
  margin: 0 0 0.5rem !important;
}
